*{
  margin: 0px;
  padding: 0px;

  z-index: 0;
}

.App {
  
  background-color: #f5f5f5;
  background-image: url('./imgs/metroLA.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  perspective: 8px;
  perspective-origin: 50%;
  z-index: 2;
}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #534741;
}

.mainWords {
  font-size: 85px;
  padding-left: 40px;
  padding-bottom: 150px;
  z-index: 4;
}

.topLeft {
  position: fixed;
  top: 0;
  left: 0;
  width: 210px;
  z-index: 5;
}

.ktown {
  position: absolute;
  bottom: 110px;
  right: 450px;
  width: 300px;
  transform: scale(0.15,0.15);
}

.sc {
  position: absolute;
  top: 220px;
  right: 180px;
  width: 300px;
  transform: scale(0.15,0.15);
}

.register {
  position: absolute;
  top: 320px;
  right: 73em;
  transform: scale(0.4,0.4);
  z-index: 1;
}

p {
  position: absolute;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 150px;
  z-index: 1;
}

#googleMap {
  margin-top: 390px;
  padding-left: 0px;
  margin-right: auto;
  outline-color: #f5f5f5;

}

.downArrow {
  position: absolute;
  top: 7rem;
  left: 57rem;
  transform: scale(0.1,0.1);
  z-index: 1;
}

.recList {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #534741;
}

.moving {
  height: 200px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.moving > div {
  height: 200px;
  width: 2526px;
  background: url('./imgs/LONGIMG.jpg');
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.moving .mover-1 {
  animation: moveSlideshow 60s linear infinite;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

.moreButtons {
  position: absolute;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 150px;
  z-index: 1;
}

